.todo-list {
  margin-bottom: 15px;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__actions {
    align-items: center;
    color: var(--c-dark-grayish-blue);
    display: flex;
    font-size: 13px;
    font-weight: 400;
    justify-content: space-between;
    padding: 15px;
  }

  &__action {
    cursor: pointer;
  }
}
