.todo {
  $todo: &;

  align-items: center;
  border-bottom: 1px solid var(--c-light-grayish-blue);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  user-select: none;
  width: calc(100% - 30px);

  &--checked {
    #{$todo} {
      &__check {
        background: rgb(87, 221, 255);
        background: linear-gradient(135deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);

        &:before {
          display: none;
        }
      }

      &__title {
        color: var(--c-light-grayish-blue);
        text-decoration: line-through;
      }
    }
  }

  &__check {
    align-items: center;
    background-color: var(--c-light-grayish-blue);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;

    &:before {
      background-color: var(--c-white);
      border-radius: 50%;
      content: '';
      display: block;
      height: 18px;
      width: 18px;
    }

    &:hover {
      background: rgb(87, 221, 255);
      background: linear-gradient(135deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }

  &__cross {
    cursor: pointer;
    height: 12px;
    width: 12px;
  }
}
