@import "src/styles/settings/variables";

.container {
  width: calc(100% - 50px);
  margin: 0 auto;
  transform: translateY(-185px);

  @media only screen and (min-width: $b-medium) {
    max-width: 650px;
  }
}
